.wrapper
    .center
        clearfix()
    padding 40px 0
    +tablet()
        padding 30px 0
    +mobile()
        padding 20px 0

.aside
    width 307px
    float left
    .logo
        width 100%
        height 340px
        display block
        text-indent -9999px
        background $img('marca-batbarmitzva.png') no-repeat center
    .data
        width 100%
        height 236px
        display block
        text-indent -9999px
        background $img('data.png') no-repeat center
        margin-top 65px
    +below($tablet)
        width 100%
        clearfix()
    +tablet()
        .logo
            width 307px
            float left
        .data
            width 137px
            float right
            margin-top 40px
    +mobile()
        .logo
            width 180px
            height 200px
            float left
            background-size 100% auto
        .data
            width 80px
            height 140px
            float right
            background-size 100% auto
            margin-top 25px
.main
    width 640px
    float right
    .menu
        width 100%
        height 303px
        display block
        background $img('bg-menu.png') no-repeat center
        margin 0 0 30px
        padding-left 145px
        padding-top 30px
        padding-right 40px
        a
            display block
            padding-left 38px
            noodle 32
            color #222
            margin-bottom 6px
            background $img('marcador-menu.png') no-repeat center left
            transition background .3s, color .3s
            &:hover
            &.active
                background-color #FF0000
                color #fff
    +below($tablet)
        width 100%
        .menu
            width 100%
            height auto
            padding 0
            background none
            padding 35px 0 25px
            border-bottom 1px solid rgba(#fff, .3)
            a:last-child
                margin-bottom 0
    +mobile()
        .menu
            padding 20px 0
            a
                font-size 22px
                padding-left 30px
                margin-bottom 7px

.not-found
    text-align center
    opensans 15
    color #fff
    text-transform uppercase
