desktop-base-width     = 980px
rupture.desktop-cutoff = $tablet = 1080px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

@font-face
    font-family 'bignoodletitlingregular'
    src url('../fonts/big_noodle_titling-webfont.woff2') format('woff2'),
        url('../fonts/big_noodle_titling-webfont.woff') format('woff')
    font-weight normal
    font-style normal

opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

noodle($size)
    font-size $size + 0px
    font-family 'bignoodletitlingregular', 'Helvetica', 'Arial', sans-serif
    font-weight normal
