.contatos
    p
        text-align center
        color #fff
        opensans 20
        margin 1.5em 0
        &:first-child
            margin-top 2em
        span
            font-weight 700
        &.info
            margin-top 3em
            opensans 16
            a
                opensans 20 bold
                &:hover
                    color #000
        +mobile()
            opensans 16
            &.info
                opensans 14
                a
                    opensans 16 bold
