.entrada
    text-align center
    .btn-entrada
        display block
        width 100%
    .convite
        width 900px
        height 335px
        display block
        position relative
        margin 90px auto 45px
        transform rotate(-5deg)
        transform-origin 50%
        +tablet()
            margin 60px auto 35px
        +mobile()
            margin 40px auto 20px
        .parte-1
            position absolute
            top 0
            left 0
            width 242px
            height 100%
            background $img('convite1.png') no-repeat center
        .parte-2
            position absolute
            top 0
            right 0
            width 658px
            height 100%
            background $img('convite2.png') no-repeat center
        +below($tablet)
            width 90%
            height 0
            padding-bottom 37.2%
            .parte-1
                width 26.88%
            .parte-2
                width 73.11%
            .parte-1
            .parte-2
                background-size 100% auto
    p
        margin 0
        opensans 14 bold
        color #fff
