.ficha
    text-align center
    p
        opensans 18
        color #fff
        +mobile()
            font-size 16px
        &.finalize
            opensans 18 bold
            margin 2.5em 0 .3em
            +mobile()
                font-size 16px
    .passo
        clearfix()
        margin 30px 0 8px
        .descricao
            width 36%
            float left
            opensans 20
            text-align left
            color #fff
            span
                opensans 18 bold
                display block
                margin-bottom 5px
            em
                display block
                opensans 14
                margin-top 5px
            +mobile()
                width 100%
                margin-bottom 10px
                font-size 18px
                span
                    font-size 16px
        .btn-ficha
            width 60%
            float right
            display block
            border 2px solid #fff
            border-radius 6px
            position relative
            color #fff
            clearfix()
            padding 10px 25px
            transition background .3s
            +mobile()
                width 100%
                padding 15px
            &:hover
                background #fff
                p
                    color #000
            img
                float left
                margin-right 25px
                +mobile()
                    display inline-block
                    float none
                    margin-right 0
            p
                text-align left
                opensans 14 bold
                transition color .3s
                margin-bottom 0
                +mobile()
                    text-align center
        input
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            right 0
            bottom 0
            opacity 0
            cursor pointer
            z-index 2
    input[type=text]
    input[type=submit]
        width 100%
        margin 0 auto
        border 0
        outline 0
        text-align center
        display block
        &[type=text]
            background #fff
            color #222
            margin-bottom 10px
            padding 8px
            border-radius 4px
            opensans 16
        &[type=submit]
            background #ff0000
            max-width 380px
            opensans 20 bold
            color #fff
            padding 12px
            border-radius 4px
            cursor pointer
            &:hover
                background darken(#ff0000, 10)
            +mobile()
                font-size 18px
    .ficha-lista
    .rg-lista
        text-align left
        width 60%
        float right
        p
            opensans 15
            margin 5px 0
            padding-left 1.5em
            position relative
            &:before
                content '\2192'
                position absolute
                top 0
                left 0
            &:last-child
                padding-bottom 10px
                margin-bottom 10px
                border-bottom 1px solid rgba(#fff, .3)
    .radios
        margin 25px 0
        span
            opensans 16
            color #fff
            display block
            margin-bottom 10px
        label
            display inline-block
            opensans 16
            color #fff
            margin 0 5px
            cursor pointer
    .erro
        color #ff0000
        noodle 24

.enviado
    opensans 20 bold
    text-align center
    color #fff
