.galeria
    form
        text-align center
        p
            opensans 20
            color #fff
            margin 2em 0
            +mobile()
                font-size 16px
        span
            opensans 14
            color #000
            display block
            margin-bottom 15px
            +mobile()
                font-size 13px
        input
            width 100%
            max-width 385px
            margin 0 auto
            border 0
            outline 0
            text-align center
            display block
            &[type=password]
                background #fff
                color #222
                margin-bottom 10px
                padding 8px
                border-radius 4px
                opensans 16
            &[type=submit]
                background #ff0000
                opensans 20 bold
                color #fff
                padding 12px
                border-radius 4px
                cursor pointer
                &:hover
                    background darken(#ff0000, 10)
                +mobile()
                    font-size 18px

    .fotos
        clearfix()
        a
            display block
            width 24.25%
            margin-right 1%
            margin-bottom 1%
            float left
            position relative
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba(red, .7)
                opacity 0
                transition opacity .3s
            &:hover:after
                opacity 1
            &:nth-child(4n)
                margin-right 0
            img
                width 100%
                display block
    .videos
        margin-top 20px
        padding-top 20px
        border-top 1px solid rgba(#fff, .3)
        clearfix()
        a
            display block
            width 32.333%
            margin-right 1%
            margin-bottom 1%
            float left
            position relative
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba(red, .7)
                opacity 0
                transition opacity .3s
            &:before
                content ''
                position absolute
                top 50%
                left 50%
                width 40px
                height 40px
                border 1px solid red
                border-radius 100%
                margin-left -20px
                margin-top -20px
                background $img('marcador-menu.png') no-repeat center
            &:hover:after
                opacity 1
            &:nth-child(3n)
                margin-right 0
            img
                width 100%
                display block
