.home
    .contador
        display inline-block
        background #EE3137
        noodle 40
        color #fff
        padding 5px 15px
        span
            font-size 2em
            margin 0 5px
        +mobile()
            font-size 30px
    h2
        opensans 16 bold
        color #fff
        margin 2em 0 1.5em
    p
        opensans 16
        color #fff

