.info
    color #fff
    h3
        opensans 17 bold
        text-transform uppercase
        margin 35px 0 4px
        &:first-child
            margin-top 0
    h4
        opensans 16 normal italic
        margin 2px 0 4px
    p
        opensans 16
        margin 2px 0
