.levar
    text-align center
    .print
        display none
    .lista
        clearfix()
        text-align left
        .col
            width 50%
            float left
            color #fff
            h2
                opensans 18 bold
                margin 2em 0 .3em
                text-transform uppercase
                &:first-child
                    margin-top 0
            ul
                padding 0
                margin 0
                list-style-type none
                opensans 18
                line-height 1.3
                li
                    padding-left 1em
                    position relative
                    &:before
                        position absolute
                        top 0
                        left 0
                        content "\00bb"
            &:last-child
                padding-left 8%
            +mobile()
                width 100%
                margin-bottom 20px
                &:last-child
                    padding 0
                h2
                    font-size 15px
                    margin-top 20px
                ul
                    font-size 15px
    .orientacoes
        background #fff
        margin-top 35px
        padding 20px
        opensans 16
        text-align left
        +mobile()
            margin-top 25px
        h2
            opensans 16 bold
            margin-top 0
        p:last-child
            margin-bottom 0
        +mobile()
            opensans 15
            h2
                opensans 15 bold
    a
        display inline-block
        margin-top 30px
        background #ff0000
        color #fff
        opensans 20 bold
        padding 14px 55px
        border-radius 4px
        transition background .3s
        &:hover
            background darken(#ff0000, 10)
        +mobile()
            margin-top 20px
            padding 14px 30px
            opensans 18 bold

@media print
    .print
        display block !important
    .aside
    .menu
    .levar a
        display none !important
    .main
        width 100% !important
    *
        color #000 !important
    .orientacoes
        padding 0 !important
    .orientacoes
        margin-top 40px !important
    .lista
        margin-top 70px !important

